
@{
    ViewBag.Title = "Разработка сайта-визитки";
}
@model IEnumerable<Domain.Entityes.Modules.WebsiteCardCalc>
<h2>страница для разработки сайта-визитки</h2>
<br />
<h1 align="center">Модули</h1>
<div style="border: 5px; border-color: black">
    <h2 align="center">Базовые</h2>
    @foreach (var i in Model)
    {
        if (i.ModuleCategory == "базовый")
        {
            <input id="@i.ModuleId" type="checkbox" /><p align="center">@($"{i.ModuleName} - цена {i.ModulePrice} описание - {i.ModuleDescription}")</p>
        }
    }
</div>
<div style="border: 5px; border-color: black">
    <h2 align="center">Дополнительные</h2>
    @foreach (var i in Model)
    {
        if (i.ModuleCategory == "дополнительный")
        {
            <input id="@i.ModuleId" type="checkbox" /><p align="center">@($"{i.ModuleName} - цена {i.ModulePrice} описание - {i.ModuleDescription}")</p>
        }
    }
</div>
<div style="border: 5px; border-color: black">
    <h2 align="center">Дополнительная услуга</h2>
    @foreach (var i in Model)
    {
        if (i.ModuleCategory == "услуга")
        {
            <input id="@i.ModuleId" type="checkbox" /><p align="center">@($"{i.ModuleName} - цена {i.ModulePrice} описание - {i.ModuleDescription}")</p>
        }
    }
</div>
